.notification {
  font-size: 1.15rem;
  border-style: solid;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.notification.success {
  color: #37751C;
  background: #bcffa0;
}

.notification.error {
    color: #750f0f;
    background: #fda3a3;
}